* {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
.container {
  width: 1160px;
  margin: 0 auto;
}
.header {
  text-align: center;
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.logo-div,
.button-div {
  width: 20%;
  align-content: center;
}
.logo-div {
  text-align: left;
}
.button-div {
  text-align: right;
}
.menu-div {
  width: 50;
  align-content: center;
}
.menu-nav {
  display: flex;
}
.menu-nav li {
  margin: 0 15px;
}
.menu-nav li a {
  color: #2e2e2e;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
}
.button-div button {
  border: none;
  background-color: #d01c28;
  color: #ffffff;
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
  padding: 7px 20px;
  cursor: pointer;
}
.container-1 {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 50px 20px;
}
.section-1,
.section-2 {
  width: 50%;
}
.section-1 h1 {
  font-size: 90px;
  line-height: 85px;
  font-weight: 800;
  margin-bottom: 30px;
  color: #000000;
}
.section-1 p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
  margin-bottom: 30px;
  color: grey;
}
.section-1-btn {
  margin-bottom: 40px;
}
.shop-button,
.cat-button {
  padding: 7px 20px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
  cursor: pointer;
}
.shop-button {
  border: 1px solid #d01c28;
  background-color: #d01c28;
  color: #ffffff;
  margin-right: 20px;
}
.cat-button {
  border: 1px solid black;
  background-color: transparent;
}
.section-2 {
  text-align: center;
  align-content: center;
}
.section-2 img {
  width: 80%;
}
.flip-img {
  margin-right: 20px;
}
