* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #3e65fe;
}
.container {
  width: 1160px;
  margin: 0 auto;
  padding: 50px 0;
}
.twitterSignup-Box {
  width: 500px;
  margin: auto;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}
.SignBtn {
  padding: 10px 50px;
  border: 1px solid black;
  border-radius: 30px;
  background-color: transparent;
}